.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nexthire-alert {

    border-radius: 20px !important;

    background: #111 !important;

    color: white !important;

    border: 1px solid #6d28d9;

    box-shadow: 0 0 20px rgba(109,40,217,0.4);
}

.nexthire-alert .swal2-title {

    color: white !important;

    font-size: 1.4rem !important;
}

.nexthire-alert .swal2-html-container {

    color: #d1d5db !important;

    font-size: 0.95rem !important;
}

@media (max-width: 768px) {

    .nexthire-alert {

        width: 85% !important;
    }

    .nexthire-alert .swal2-title {

        font-size: 1.1rem !important;
    }

    .nexthire-alert .swal2-html-container {

        font-size: 0.85rem !important;
    }

    .swal2-confirm {

        font-size: 0.85rem !important;
        padding: 8px 20px !important;
    }

}